.thumbnail-over {
	position: relative;
	display: block;
	transition: all 0.2s ease-in-out;
}

.thumbnail-over img {
	height: 220px;
	object-fit: contain;
}

@media (min-width: 576px) {
	.thumbnail-over img {
		height: 250px;
	}
}

@media (min-width: 1200px) {
	.thumbnail-over img {
		height: auto;
	}
}

.thumbnail-over-caption {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 271px;
	padding: 20px 50px 30px 25px;
	color: #fff;
	pointer-events: none;
	background-color: #163350;
	transition: inherit;
}

.thumbnail-over-caption > * {
	pointer-events: auto;
}

.thumbnail-over-title {
	color: inherit;
}

* + .thumbnail-over-description {
	margin-top: 10px;
}

.thumbnail-over-btn {
	color: inherit;
	margin-top: auto;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 0.8125rem;
	text-transform: uppercase;
}

.thumbnail-over-btn:hover {
	color: #252A2D;
}

@media (min-width: 992px) {
	.desktop .thumbnail-over-caption {
		opacity: 0;
		background-color: #163350;
	}
	.desktop .thumbnail-over:hover .thumbnail-over-caption {
		top: 0;
		left: 0;
		opacity: 1;
	}
}
