.product-overview-price-old {
	margin-right: 1em;
	text-decoration: line-through;
	color: #163350;
}

.product-overview-price-new {
	color: #163350;
}

* + .product-overview-price {
	margin-top: 0.5625rem;
}

* + .product-overview-filter-form {
	margin-top: 1.375rem;
}

@media (min-width: 992px) {
	.product-overview p + p {
		margin-top: 1.125rem;
	}
}
