.icon {
	display: inline-block;
}

.icon-md {
	font-size: 1.375rem;
}

.icon-link {
	color: inherit;
}

.icon-link:hover {
	color: #134C92;
}

.icon-link-gray {
	color: #cfcfcf;
}

.icon-link-gray:hover {
	color: #134C92;
}
